<a href="https://colab.research.google.com/github/cemvardar/GurobiExamples/blob/master/dataframe_creation_kata_1_23_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
dict_data = [{'cem':10, 'hulya': 20}, {'cem':10, 'hulya':22}]
df = pd.DataFrame(dict_data, columns=['cem','hulya'])
df

   cem  hulya
0   10     20
1   10     22

In [2]:
df.to_dict(orient='dict')

{'cem': {0: 10, 1: 10}, 'hulya': {0: 20, 1: 22}}

In [3]:
dict_by_columns = {'cem':[10,20, None], 'hulya':[5, 10, 20]}
pd.DataFrame(dict_by_columns, columns=['cem',2])

    cem    2
0  10.0  NaN
1  20.0  NaN
2   NaN  NaN

In [5]:
list_of_records = [[10,20], [5, 7]]
pd.DataFrame(list_of_records, columns = ['cem', 'hulya'])

   cem  hulya
0   10     20
1    5      7